body {
	background-color: #66b9bf;
}

.grid {
	display: grid;
}

.roundedButton {
	width: 60px;
	height: 60px;
	background-color: #66b9bf;
	border: 3px solid #e37222;
	display: inline-block;
	margin: 2px;
	cursor: pointer;
	border-radius: 50%;
	line-height: 0.5;
	justify-self: end;

	span {
		font-size: 4em;
	}
}
